// Colors
$color-body: #fff;
$color-white: #fff;
$color-black: #111;

$color-primary-background: #F8F8F8;

$color-background-dark: rgb(37, 37, 37);
$color-background-light: #e5e5e5;

$color-primary-header: #080808;
$color-primary-text: #919297;

$color-primary-blue: #0739B9;
$color-secondary-blue: #1d414d;

// Font
$default-font-size: 1.6rem;